<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Waiting-Page-Login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <ion-img
    src="src/assets/images/Logo-DUOC-transparente.png"
    alt="Logo Duoc UC en formato PNG"
  ></ion-img>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Cargando...</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>  
  </ion-toolbar>
</ion-footer>
