.logo-footer {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
}

.login-card {
    animation: slide-up2 1.3s ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 400px;
    height: 100px;
    transform-origin: center center;
}

.custom-button-3 {
    --background: #00ff1ad5;
    --background-hover: #04640df9;
    --background-activated: #012a05f9;
    --background-focused: #065b0ff9;
    color: white;
    --border-color: #13b323f9;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    --ripple-color: #053b0af9;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

@keyframes slide-up2 {
    from {
        transform: translateY(100%);
    } to {
        transform: translateY(calc(50% - 130px));
    }
}