<ion-header style="text-align: center;">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reestablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="image-container">
    <img src="assets/images/logo_transparente.png" alt="Logo Duoc UC">
  </div>
  <div class="message">
    Ingrese su nombre de usuario para restablecer su cuenta.
  </div>
  <div class="campo_nombreUsuario">
    <ion-item>
      <ion-input [(ngModel)]="nombreUsuario" (input)="validarEntrada()" placeholder="Nombre de usuario o correo"></ion-input>
    </ion-item>
  </div>
  <ion-button expand="full" [disabled]="!nombreUsuarioValido" (click)="recuperarContrasena()">
    Recuperar contraseña
  </ion-button>
</ion-content>

<ion-footer style="text-align: center;">
  <ion-toolbar>
    <div class="image-container">
      <img src="assets/images/logo_footer.png" alt="Logo Acreditacion">
    </div>
  </ion-toolbar>
</ion-footer>