<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="Volver" ></ion-back-button>
    </ion-buttons>
    <ion-title> Recuperar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-container">
    <ion-img src="assets/images/logo.png" alt="Logo"></ion-img>
  </div>
</ion-content>

<ion-card-content class="login-card">
  <form #passwordResetForm="ngForm" (ngSubmit)="recuperarContrasena()">
    <ion-item>
      <ion-label position="floating">Correo Institucional</ion-label>
      <ion-input type="text" id="correoInstitucional" [(ngModel)]="correoInstitucional" name="correoInstitucional" required></ion-input>
      <ion-label position="floating">Contraseña Nueva</ion-label>
      <ion-input type="password" id="conseñanueva" [(ngModel)]="contrasena" name="conseñanueva" required></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="8">
          <ion-button shape="round" expand="block" class="custom-button-3" type="submit">
            <ion-icon name="log-in-outline"></ion-icon>
            Recuperar contraseña
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-card-content>

<ion-footer>
  <ion-toolbar>
    <ion-img class="logo-footer" [src]="imagenFooter" alt="Logo"></ion-img>
  </ion-toolbar>
</ion-footer>