.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    width: 100%;
}

.image-container img {
    max-width: 50%;
    height: auto;
}


.message {
    text-align: center;
    margin-top: 10%;
}

.campo_nombreUsuario {
    margin-top: 10%;
}