<!--
<ion-header [translucent]="true" style="text-align: center;">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reestablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <div class="image-container">
      <img src="assets/images/logo_transparente.png" alt="Logo Duoc UC">
    </div>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Ingrese su correo institucional para reestablecer su contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioReestablecerContrasena" (keyup.enter)="recuperarContrasena()">
        <ion-item>
          <ion-label position="floating">Correo institucional</ion-label>
          <ion-input formControlName="correo" type="text"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button class="boton_recuperar_contrasena" (click)="recuperarContrasena()"> Recuperar contraseña </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer style="text-align: center;">
  <ion-toolbar>
    <div class="image-container">
      <img src="assets/images/logo_footer.png" alt="Logo Acreditacion">
    </div>
  </ion-toolbar>
</ion-footer>
-->