.divLogo {
    border: 0cap;
    border-color: white;
}

.logo {
    padding-top: 0%;
    max-width: 100%;
    height: auto;
  }

.divText {
    padding-top: 30%;
    border-color: white;
    text-align: center;
  }