<ion-content [fullscreen]="true">

<ion-item-divider class="divLogo">
  <div style="width: 100%; text-align: center">  
    <ion-img 
    class="logo"
    src="assets\images\Logo-DUOC-transparente.png"
    alt="Logo Duoc UC en formato PNG"
    > </ion-img>
  </div>
</ion-item-divider>

  <ion-item-divider class="divText">
    <div style="width: 100%; text-align: center; color:black"> <h1>Bienvenido {{"usuario"}}</h1> </div>
  </ion-item-divider>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>  
  </ion-toolbar>
</ion-footer>