<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
</ion-content>

<ion-content [fullscreen]="true" class="content">
  <div class="centered-content" #animatedElement>
    <ion-img class="logo-image" src="assets/images/logo.png" alt="Logo Institucion"></ion-img>
    <p style="text-align: center;" class="welcomeUser">Bienvenido {{ usuarioDetalles.pnombre }} {{ usuarioDetalles.appaterno }}</p>
  </div>
</ion-content>

<ion-footer>
  <ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>
</ion-footer>