.rectangulo_1,
.rectangulo_2 {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 75px;
    margin: auto;
    border-top: 2px solid rgb(43, 40, 40);
    border-bottom: 2px solid rgb(39, 34, 34);
    border-left: none;
    border-right: none;
}

.mitad1,
.mitad2,
.mitad3,
.mitad4 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cambiar_tema,
.cerrar_sesion {
    font-size: 120%;
    font-weight: bold;
}

#toggle-icon {
    height: 100%;
    width: 14%;
}

#icono_salir {
    height: 50%;
    width: 30%;
}