<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="rectangulo_1">
    <div class="mitad1">
      <h1 class="cambiar_tema">Modo Oscuro</h1>
    </div>
    <div class="mitad2">
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="cambio()"></ion-toggle>
      </ion-item>
    </div>
  </div>
  <div class="rectangulo_2">
    <div class="mitad3"></div>
    <div class="mitad4"></div>
  </div>
</ion-content>