<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large"> Asignaturas </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
<div class=rectangulo_asignaturas>
  <ion-item>
    <ion-label  class="titulo_asig" position="floating"> Programación Móvil </ion-label>
    <div class="text">
      <br>
      <h1> <b> Francisco Calfun </b></h1>
      <h2> <b> 001D </b></h2>
    </div>
  </ion-item>
</div>

<div class=rectangulo_asignaturas>
  <ion-item>
    <ion-label  class="titulo_asig" position="floating"> Ingles Intermedio</ion-label>
    <div class="text">
      <br>
      <h1> <b> Pablo Proinick</b></h1>
      <h2> <b> 003D </b></h2>
    </div>
  </ion-item>
</div>

<div class=rectangulo_asignaturas>
  <ion-item>
    <ion-label  class="titulo_asig" position="floating"> Estidistica Descriptiva </ion-label>
    <div class="text">
      <br>
      <h1> <b> Victor Aguero</b></h1>
      <h2> <b> 002D </b></h2>
    </div>
  </ion-item>
</div>

<div class=rectangulo_asignaturas>
  <ion-item>
    <ion-label  class="titulo_asig" position="floating"> Arquitectura </ion-label>
    <div class="text">
      <br>
      <h1> <b> German Barrientos</b></h1>
      <h2> <b> 001D </b></h2>
    </div>
  </ion-item>
</div>

<div class=rectangulo_asignaturas>
  <ion-item>
    <ion-label  class="titulo_asig" position="floating"> Calidad de Sofware </ion-label>
    <div class="text">
      <br>
      <h1> <b> Yessica Bolivar</b></h1>
      <h2> <b> 001D </b></h2>
    </div>
  </ion-item>
</div>

</ion-content>
