.mensaje-Hora-Actual {
    text-align: center;
    font-size: 24px;
    color: #102fc6ad;
    font-weight: bold;
    margin-top: 20px;
}

.logo-footer {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
}

.login-card {
    animation: slide-up 1.3s ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 400px;
    height: 100px;
    transform: translateY(100%);
    transform-origin: center center;
}

.custom-button-1 {
    --background: #007bff; /* Color de fondo principal (azul) */
    --background-hover: #0056b3; /* Color de fondo al pasar el mouse (azul más oscuro) */
    --background-activated: #0056b3; /* Color de fondo al presionar (azul más oscuro) */
    --background-focused: #007bff; /* Color de fondo al enfocar (azul) */
    color: white; /* Color del texto (blanco) */
    --border-color: #0056b3; /* Color del borde (azul más oscuro) */
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    --ripple-color: #0056b3; /* Color del efecto de onda al hacer clic (azul más oscuro) */
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.custom-button-2 {
    --background: orange; /* Color de fondo principal */
    --background-hover: yellow; /* Color de fondo al pasar el mouse */
    --background-activated: darkorange; /* Color de fondo al presionar */
    --background-focused: orange; /* Color de fondo al enfocar */
    color: black; /* Color del texto */
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    --ripple-color: deeppink;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(calc(50% - 110px));
    }
}


@media (prefers-color-scheme: light) {
    #logo_footer {
        content: url('../../assets/images/dark/logo_footer.png');
    }
}

@media (prefers-color-scheme: dark) {
    #logo_footer {
        
        content: url('../../assets/images/logo_footer.png');
    }
}