<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div class="image-container">
      <img src="assets/images/logo_transparente.png" alt="Logo Duoc UC">
    </div>
    <ion-card-header>
      <ion-card-title style="text-align: center;"> Duoc UC le da la bienvenida!! </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin" (keyup.enter)="Ingresar()">
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button [routerLink]="['/assistance-page']" click="Ingresar()"> Ingresar </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/password-reset']">Olvidaste tu contraseña?</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>