<ion-header [translucent]="true" style="text-align: center;">
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div class="image-container">
      <img src="assets/images/logo_transparente.png" alt="Logo Duoc UC">
    </div>
    <ion-card-header>
      <ion-card-title style="text-align: center;">¡Bienvenido a la comunidad educativa de Duoc UC! Estamos emocionados de tenerte aquí.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin" (keyup.enter)="Ingresar()">
        <ion-item>
          <ion-label position="floating">Correo institucional</ion-label>
          <ion-input formControlName="correo" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button class="boton_ingresar" (click)="Ingresar()"> Ingresar </ion-button>
      <ion-button class="boton_contrasena_olvidada" [routerLink]="['/password-reset']">Olvidaste tu contraseña?</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer style="text-align: center;">
  <ion-toolbar>
    <div class="image-container">
      <img src="assets/images/logo_footer.png" alt="Logo Acreditacion">
    </div>
  </ion-toolbar>
</ion-footer>