<ion-header [translucent]="true" style="text-align: center;">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="image-container">
    <img src="assets/images/qr.png" alt="Imagen QR">
  </div>
  <ion-card class="registro-card">
    <ion-card-content>
      <ion-button class="boton_registrar_asistencia" (click)="registrarAsistencia()">Registrar asistencia</ion-button>
      <div class="asignatura-horario" *ngIf="asistenciaRegistrada">
        <p>Asignatura: Programacion movil</p>
        <p>Horario: 8:30 - 10:40 hrs.</p>
      </div>

      <div class="hora-registro" *ngIf="asistenciaRegistrada">
        <p>Hora de registro: {{ horaDeRegistro }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let registro of registros">
          <ion-label>{{ registro.asignatura }}</ion-label>
          <ion-label>{{ registro.horario }}</ion-label>
          <ion-label [color]="registro.estado === 'Registrado' ? 'success' : 'danger'">{{ registro.estado }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>