<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="rectangulo">
    <div class="imagen1">
      <img id="imagen-duoc" alt="Imagen 1">
    </div>    
    <div class="contenedor-imagenes">
      <div class="imagen2">
        <img id="qr" src='assets/images/pruebas/qrcode-generado.png' alt="Imagen 2">
      </div>
      <div class="texto">
        <h1><b>Matias Soto</b></h1>
        <h2><b>Ingenieria en Informatica</b></h2>
        <h2><b>99.999.999-1</b></h2>
      </div>
    </div>
  </div>
</ion-content>