/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


// Añadir variables CSS aqui, de forma individual.
body.dark {
    // Imagen de app.component.html
    ion-menu[contentId="main-content"] {
        .logo-container {
            background: transparent url("../src/assets/images/carreras/Ing_Informatica.png") center/contain no-repeat;
        }
    }

    // Logo duoc de main-page.page.html
    ion-content {
        .rectangulo #imagen-duoc {
            content: url("../src/assets/images/logo-duoc.png");
        }
    }
}

:root {
    // Imagen de app.component.html
    ion-menu[contentId="main-content"] {
        .logo-container {
            background: transparent url("../src/assets/images/carreras/Ing_Informatica.png") center/contain no-repeat;
        }
        .Horario .boton-container #imagenCamaraQR {
            content: url("/src/assets/icon/qr_white.png");
        }
    }

     // Logo duoc de main-page.page.html
    ion-content {
        .rectangulo #imagen-duoc {
            content: url("../src/assets/images/dark/image.png");
        }
        .Horario .boton-container #imagenCamaraQR {
            content: url("/src/assets/icon/qr_dark.png");
        }
    }
}